$bg-black: #120f0f;
$color-black: #000000;
$color-black-light: #1d150b;
$color-white: #ffffff;
$color-gold: #c49b63;
$color-gold-dark: #674C2A;
$color-grey: #808080;
$color-yellow: #f8b500;
$color-border: rgba(255, 255, 255, 0.1);

/******************************/

body {
  font-size: 14px;
  background-image: url("/src/assets/images/bg_4.jpg");
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-color: $bg-black;
}

/** container **/
.section-container {
  padding: 100px 20px;
}
.content-container {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

/** loading **/
.loading-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: $color-black;
}

/** mobile navigation **/
.mobile-navigation {
  position: fixed;
  left: -240px;
  bottom: 0;
  width: 240px;
  height: 100%;
  background-color: $color-black;
  transition: left 0.3s linear;
  overflow: auto;
  z-index: 1000;
  &.active {
    left: 0;
  }
  .close-toggle {
    display: flex;
    justify-content: flex-end;
    padding: 15px 20px;
    border-bottom: 1px solid $color-border;
    svg {
      color: $color-white;
      font-size: 28px;
    }
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    .nav-link {
      position: relative;
      padding: 15px 20px;
      color: $color-white;
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      border: 1px solid $color-border;
      &:hover, &.active {
        color: $color-gold;
      }
      .item-count {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 15px;
        left: 70px;
        width: 20px;
        height: 20px;
        color: $color-black;
        font-size: 12px;
        background-color: $color-yellow;
        border-radius: 50%;
      }
      .icon-cart {
        font-size: 18px;
      }
    }
  }
}
.mobile-navigation-backdrop {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 900;
  &.active {
    display: block;
  }
}

/** error **/
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  min-height: 100vh;
  background-color: $bg-black;
  p {
    color: $color-grey;
    font-size: 18px;
  }
  .title {
    color: $color-gold;
    font-size: 100px;
  }
  .sub-title {
    margin-bottom: 20px;
    color: $color-white;
    font-size: 40px;
  }
  .btn-back {
    display: block;
    margin-top: 40px;
    padding: 15px;
    text-transform: uppercase;
    border-radius: 4px;
  }
}

/** about **/
.about {
  display: flex;
  height: 650px;
  .about-photo {
    width: 50%;
    height: 100%;
    background-image: url("/src/assets/images/about.jpg");
    background-size: cover;
    background-position: center;
  }
  .about-content {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    .box-content {
      position: absolute;
      left: -70px;
      width: 70%;
      padding: 50px 30px;
      background: rgba(0,0,0,0.5);
      p {
        color: $color-grey;
        font-size: 16px;
        line-height: 30px;
      }
      .title {
        margin: 0 0 30px;
        color: $color-white;
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        span {
          color: $color-gold;
        }
      }
    }
  }
}

/** home menu **/
.h-menu {
  background-color: $bg-black;
  .h-menu-container {
    display: flex;
    align-items: center;
    column-gap: 60px;
    .h-menu-content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 50%;
      p {
        color: $color-grey;
        font-size: 16px;
        line-height: 30px;
        text-align: right;
      }
      a {
        width: 120px;
        height: 50px;
        font-size: 13px;
        border-radius: 4px;
      }
      .title {
        margin: 0 0 30px;
        color: $color-white;
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        span {
          color: $color-gold;
        }
      }
    }
    .h-menu-list {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      width: 50%;
      .h-menu-photo {
        width: 200px;
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &:nth-child(even) {
          margin-top: 25px;
        }
      }
    }
  }
}

/** menu **/
.menu {
  .menu-container {
    .menu-heading {
      text-align: center;
      .title {
        margin-bottom: 40px;
        color: $color-white;
        font-size: 40px;
        line-height: 40px;
        font-weight: bold;
        text-transform: uppercase;
        span {
          color: $color-gold;
        }
      }
      p {
        color: $color-grey;
        font-size: 15px;
      }
    }
    .menu-category {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      margin-top: 40px;
      label {
        color: $color-gold;
        font-size: 20px;
      }
      select {
        appearance: none;
        -moz-appearance:none;
        -webkit-appearance:none;
        padding: 7px 5px;
        color: $color-white;
        font-size: 16px;
        text-align: center;
        background-color: transparent;
        border: 1px solid $color-gold;
        border-radius: 4px;  
        outline: none;    
      }
    }
    .menu-list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 40px;
      margin-top: 80px;
      .menu-block {
        margin-bottom: 70px;
        width: calc(33% - 30px);
        .title {
          margin-bottom: 20px;
          color: $color-white;
          font-size: 18px;
          font-weight: bold;
          text-align: center;
        }
        button {
          margin: 30px auto 0;
          padding: 10px;
          font-size: 13px;
          border-radius: 4px;
        }
        .description {
          margin-bottom: 30px;
          min-height: 100px;
          color: $color-grey;
          font-size: 14px;
          line-height: 24px;
          text-align: center;
        }
        .photo {
          margin-bottom: 30px;
          width: 100%;
          height: 250px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
        .price {
          color: $color-white;
          font-size: 20px;
          text-align: center;
        }
      }
    }
  }
}

/** service **/
.service {
  background-color: $color-gold;
  .service-container {
    display: flex;
    column-gap: 50px;
    .service-item {
      text-align: center;
      .service-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 50px;
        width: 100px;
        height: 100px;
        border: 1px solid $color-gold-dark;
        border-radius: 4px;
        svg {
          color: $color-black-light;
          font-size: 50px;
        }
      }
      p {
        color: $color-black-light;
        font-size: 16px;
        line-height: 30px;
      }
      .title {
        margin: 0 0 25px;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }
}

/** blog **/
.blog {
  .blog-container {
    display: flex;
    flex-direction: column;
    .blog-heading {
      text-align: center;
      p {
        color: $color-grey;
        font-size: 15px;
      }
      .title {
        margin-bottom: 40px;
        color: $color-white;
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .blog-list {
      display: flex;
      column-gap: 40px;
      margin-top: 80px;
      &.list-page {
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .block-item-page {
        margin-bottom: 70px;
        width: calc(50% - 40px);
      }
      p {
        margin-bottom: 15px;
        color: $color-grey;
        font-size: 16px;
      }
      small {
        display: flex;
        align-items: center;
        color: $color-grey;
        font-size: 14px;
        svg {
          display: inline;
          margin-right: 10px;
          color: $color-gold-dark;
        }
      }
      .item-title {
        margin-bottom: 20px;
        font-size: 18px;
        a {
          color: $color-white;
          &:hover {
            color: $color-gold;
          }
        }
      }
      .photo {
        margin-bottom: 30px;
        width: 100%;
        height: 270px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }
}

/** single blog **/
.blog-single {
  .blog-single-container {
    display: flex;
    .block-single-content {
      width: 65%;
      p {
        margin-bottom: 10px;
        color: $color-grey;
        font-size: 16px;
        line-height: 32px;
      }
      small {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        color: $color-grey;
        font-size: 16px;
        svg {
          display: inline;
          margin-right: 10px;
          color: $color-gold-dark;
        }
      }
      img {
        display: block;
        margin-bottom: 30px;
        max-width: 100%;
        width: 100%;
      }
      .title {
        margin-bottom: 30px;
        color: $color-white;
        font-size: 32px;
        font-weight: bold;
      }
    }
    .block-single-other {
      padding-left: 60px;
      width: 35%;
      .title {
        margin-bottom: 30px;
        color: $color-white;
        font-size: 24px;
      }
      .other-article {
        display: flex;
        align-items: flex-start;
        & + .other-article {
          margin-top: 30px;
        }
        .photo {
          margin-right: 24px;
          width: 70px;
          height: 70px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
        .icon {
          margin: 6px 24px 0 0;
          color: $color-white;
          font-size: 16px;
        }
        .media-body {
          flex: 1;
          a {
            color: $color-white;
            font-size: 16px;
            line-height: 26px;
            &:hover {
              color: $color-gold;
            }
          } 
          p {
            margin-bottom: 10px;
            color: $color-grey;
            font-size: 16px;
            line-height: 26px;
          }
          small {
            display: flex;
            align-items: center;
            color: $color-grey;
            font-size: 12px;
            svg {
              display: inline;
              margin-right: 10px;
              color: $color-gold-dark;
            }
          }
        }
      }
    }
  }
}

/** contact **/
.contact {
  .contact-container {
    display: flex;
    column-gap: 40px;
    .contact-content {
      width: 50%;
      h2 {
        color: $color-white;
        font-size: 24px;
      }
      ul {
        li {
          margin-top: 20px;
          color: $color-gold;
          font-size: 16px;
          span {
            color: $color-white;
          }
        }
      }
    }
    .contact-form {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      width: 50%;
      button {
        margin-top: 20px;
        padding: 15px;
        width: max-content;
        border-radius: 4px;
      }
      .input-form {
        padding: 15px;
        width: 100%;
        color: $color-white;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        outline: none;
        &.textarea {
          height: 150px;
        }
      }
    }
  }
}

/** cart **/
.cart {
  .cart-table {
    width: 100%;
    tr {
      th {
        padding: 20px;
        color: $color-black;
        font-size: 16px;
        font-weight: bold;
        background-color: $color-gold;
      }
      td {
        padding: 40px 20px;
        border-bottom: 1px solid $color-border;
        svg {
          color: $color-grey;
          font-size: 25px;
          cursor: pointer;
          &:hover {
            color: $color-gold;
          }
        }
        .product-photo {
          width: 120px;
          height: 120px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
        .product-name {
          color: $color-white;
          font-size: 18px;
        }
        .product-detail {
          margin-top: 5px;
          color: $color-grey;
        }
        .product-price {
          color: $color-white;
          font-size: 18px;
        }
        .product-amount {
          display: flex;
          align-items: center;
          column-gap: 20px;
          .input-amount {
            width: 100px;
            height: 30px;
            color: $color-white;
            text-align: center;
            line-height: 30px;
            border: 1px solid $color-grey;
          }
        }
        .product-total {
          color: $color-white;
          font-size: 28px;
          font-weight: bold;
          text-align: right;
          span {
            margin-right: 10px;
            color: $color-gold;
          }
        }
        .no-cart-item {
          color: $color-white;
          font-size: 18px;
          text-align: center;
        }
      }
    }
  }
  .cart-button {
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }
  .btn-cart {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
  }
}

/** order **/
.order {
  .order-table {
    width: 100%;
    border: 1px solid $color-border;
    tr {
      th {
        padding: 10px 20px;
        text-align: left;
        background-color: $color-gold-dark;
        .order-title {
          display: flex;
          align-items: center;
          color: $color-white;
          font-size: 16px;
          svg {
            display: inline;
            margin-right: 10px;
          }
        } 
      }
      td {
        padding: 15px 20px;
        border-bottom: 1px solid $color-border;
        .product-photo {
          width: 70px;
          height: 70px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
        .product-name {
          color: $color-white;
          font-size: 18px;
        }
        .product-detail {
          margin-top: 5px;
          color: $color-grey;
        }
        .product-price {
          color: $color-white;
          font-size: 18px;
        }
        .product-amount {
          .input-amount {
            width: 100px;
            height: 30px;
            color: $color-white;
            text-align: center;
            line-height: 30px;
            border: 1px solid $color-grey;
          }
        }
        .product-total {
          color: $color-white;
          font-size: 20px;
          font-weight: bold;
          text-align: right;
          span {
            margin-right: 10px;
            color: $color-gold;
          }
        }
        .no-cart-item {
          color: $color-white;
          font-size: 18px;
          text-align: center;
        }
      }
    }
    & + .order-table {
      margin-top: 50px;
    }
  }
}

/** sign in **/ 
.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 20px;
  background-image: url("/src/assets/images/bg_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &.admin {
    background-image: url("/src/assets/images/about.jpg");
  }
  .sign-in-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
  }
  .sign-in-card {
    position: absolute;
    padding: 50px;
    max-width: 400px;
    width: 100%;
    border: 1px solid $color-gold;
    border-radius: 8px;
    z-index: 20;
    h1 {
      color: $color-white;
      font-size: 32px;
      line-height: 28px;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
      span {
        letter-spacing: 5px;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      margin-top: 40px;
      .form-box {
        width: 100%;
        label {
          display: block;
          margin-bottom: 5px;
          color: $color-gold;
          font-size: 16px;
        }
        input {
          padding: 10px 0;
          width: 100%;
          color: $color-white;
          background-color: transparent;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          outline: none;
        }
        button {
          margin-top: 20px;
          padding: 10px;
          width: 100%;
          border-radius: 4px;
        }
      }
    }
  }
  .admin-content {
    position: absolute;
    z-index: 20;
    p {
      color: $color-grey;
      font-size: 18px;
      text-align: center;
    }
    .title {
      margin-bottom: 20px;
      color: $color-white;
      font-size: 40px;
    }
    .avatar {
      display: block;
      margin: 40px auto 20px;
      width: 80px;
      height: 80px;
      border: 2px solid $color-gold;
      border-radius: 50%;
    }
    .btn-back {
      display: block;
      margin: 40px auto 0;
      width: max-content;
      padding: 15px;
      text-transform: uppercase;
      border-radius: 4px;
    }
  }
}