$bg-black: #120f0f;
$color-black: #000000;
$color-black-light: #1d150b;
$color-white: #ffffff;
$color-gold: #c49b63;
$color-gold-dark: #674C2A;
$color-grey: #808080;

body {
  font-size: 14px;
  background-image: url("/src/assets/images/bg_4.jpg");
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-color: $bg-black;
}


/** utility **/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: $color-white !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.font-14 {
  font-size: 14px !important;
}
.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-black;
  background-color: $color-gold;
  border: 1px solid $color-gold;
  &:hover {
    color: $color-gold;
    background-color: transparent;
  }
}
.btn-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  background-color: transparent;
  border: 1px solid $color-white;
  &:hover {
    color: $color-black;
    background-color: $color-gold;
    border: 1px solid $color-gold;
  }
}
.btn-third {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-gold;
  background-color: transparent;
  border: 1px solid $color-gold;
  &:hover {
    color: $color-black;
    background-color: $color-gold;
    border: 1px solid $color-gold;
  }
}


/** error **/
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  min-height: 100vh;
  background-color: $bg-black;
  p {
    color: $color-grey;
    font-size: 18px;
  }
  .title {
    color: $color-gold;
    font-size: 100px;
  }
  .sub-title {
    margin-bottom: 20px;
    color: $color-white;
    font-size: 40px;
  }
  .btn-back {
    display: block;
    margin-top: 40px;
    padding: 15px;
    text-transform: uppercase;
    border-radius: 8px;
  }
}


/** about **/
.about {
  display: flex;
  height: 650px;
  .about-photo {
    width: 50%;
    height: 100%;
    background-image: url("/src/assets/images/about.jpg");
    background-size: cover;
    background-position: center;
  }
  .about-content {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    .box-content {
      position: absolute;
      left: -70px;
      width: 70%;
      padding: 50px 30px;
      background: rgba(0,0,0,0.5);
      h2 {
        margin: 0 0 30px;
        color: $color-white;
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        span {
          color: $color-gold;
        }
      }
      p {
        color: $color-grey;
        font-size: 16px;
        line-height: 30px;
      }
    }
  }
}


/** home menu **/
.h-menu {
  padding: 100px 20px;
  background-color: $bg-black;
  .h-menu-container {
    display: flex;
    align-items: center;
    column-gap: 60px;
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    .h-menu-content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 50%;
      h2 {
        margin: 0 0 30px;
        color: $color-white;
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        span {
          color: $color-gold;
        }
      }
      p {
        color: $color-grey;
        font-size: 16px;
        line-height: 30px;
        text-align: right;
      }
      a {
        width: 120px;
        height: 50px;
        font-size: 13px;
      }
    }
    .h-menu-list {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      width: 50%;
      .h-menu-photo {
        width: 200px;
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &:nth-child(even) {
          margin-top: 25px;
        }
      }
    }
  }
}


/** menu **/
.menu {
  padding: 100px 20px;
  .menu-container {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    .menu-heading {
      text-align: center;
      h2 {
        margin-bottom: 40px;
        color: $color-white;
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        span {
          color: $color-gold;
        }
      }
      p {
        color: $color-grey;
        font-size: 15px;
      }
    }
    .menu-list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 40px;
      margin-top: 80px;
      .menu-block {
        margin-bottom: 70px;
        width: calc(33% - 30px);
      }
      h3 {
        margin-bottom: 20px;
        color: $color-white;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
      }
      button {
        margin: 30px auto 0;
        padding: 10px;
        font-size: 13px;
      }
      .description {
        margin-bottom: 30px;
        min-height: 100px;
        color: $color-grey;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
      }
      .photo {
        margin-bottom: 30px;
        width: 100%;
        height: 250px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      .price {
        color: $color-white;
        font-size: 20px;
        text-align: center;
      }
    }
  }
}

/** service **/
.service {
  padding: 100px 20px;
  background-color: $color-gold;
  .service-container {
    display: flex;
    column-gap: 50px;
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    .service-item {
      text-align: center;
      .service-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 50px;
        width: 100px;
        height: 100px;
        border: 1px solid $color-gold-dark;
        svg {
          color: $color-black-light;
          font-size: 50px;
        }
      }
      h2 {
        margin: 0 0 25px;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
      }
      p {
        color: $color-black-light;
        font-size: 16px;
        line-height: 30px;
      }
    }
  }
}


/** blog **/
.blog {
  padding: 100px 20px;
  .blog-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    .blog-heading {
      text-align: center;
      h2 {
        margin-bottom: 40px;
        color: $color-white;
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
      }
      p {
        color: $color-grey;
        font-size: 15px;
      }
    }
    .blog-list {
      display: flex;
      column-gap: 40px;
      margin-top: 80px;
      &.list-page {
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .block-item {
        margin-bottom: 70px;
        width: calc(50% - 40px);
      }
      h3 {
        margin-bottom: 20px;
        font-size: 18px;
        a {
          color: $color-white;
          &:hover {
            color: $color-gold;
          }
        }
      }
      p {
        margin-bottom: 15px;
        color: $color-grey;
        font-size: 16px;
      }
      small {
        display: flex;
        align-items: center;
        color: $color-grey;
        font-size: 14px;
        svg {
          display: inline;
          margin-right: 10px;
          color: $color-gold-dark;
        }
      }
      .photo {
        margin-bottom: 30px;
        width: 100%;
        height: 270px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }
}


/** single blog **/
.blog-single {
  padding: 100px 20px;
  .blog-single-container {
    display: flex;
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    .block-single-content {
      width: 65%;
      h2 {
        margin-bottom: 30px;
        color: $color-white;
        font-size: 32px;
        font-weight: bold;
      }
      p {
        margin-bottom: 10px;
        color: $color-grey;
        font-size: 16px;
        line-height: 32px;
      }
      small {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        color: $color-grey;
        font-size: 16px;
        svg {
          display: inline;
          margin-right: 10px;
          color: $color-gold-dark;
        }
      }
      img {
        display: block;
        margin-bottom: 30px;
        max-width: 100%;
        width: 100%;
      }
    }
    .block-single-other {
      padding-left: 60px;
      width: 35%;
      h3 {
        margin-bottom: 30px;
        color: $color-white;
        font-size: 24px;
      }
      .other-article {
        display: flex;
        align-items: flex-start;
        & + .other-article {
          margin-top: 30px;
        }
        .photo {
          margin-right: 24px;
          width: 70px;
          height: 70px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
        .icon {
          margin: 6px 24px 0 0;
          color: $color-white;
          font-size: 16px;
        }
        .media-body {
          flex: 1;
          a {
            color: $color-white;
            font-size: 16px;
            line-height: 26px;
            &:hover {
              color: $color-gold;
            }
          } 
          p {
            margin-bottom: 10px;
            color: $color-grey;
            font-size: 16px;
            line-height: 26px;
          }
          small {
            display: flex;
            align-items: center;
            color: $color-grey;
            font-size: 12px;
            svg {
              display: inline;
              margin-right: 10px;
              color: $color-gold-dark;
            }
          }
        }
      }
    }
  }
}


/** contact **/
.contact {
  padding: 100px 20px;
  .contact-container {
    display: flex;
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    .contact-content {
      width: 50%;
      h2 {
        color: $color-white;
        font-size: 24px;
      }
      ul {
        li {
          margin-top: 20px;
          color: $color-gold;
          font-size: 16px;
          span {
            color: $color-white;
          }
        }
      }
    }
    .contact-form {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      width: 50%;
      button {
        margin-top: 20px;
        padding: 15px;
        width: max-content;
        border-radius: 8px;
      }
      .input-form {
        padding: 15px;
        width: 100%;
        color: $color-white;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        outline: none;
        &.textarea {
          height: 150px;
        }
      }
    }
  }
}


/** sign in **/ 
.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 20px;
  background-image: url("/src/images/bg_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &.admin {
    background-image: url("/src/images/about.jpg");
  }
  .sign-in-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
  }
  .sign-in-card {
    position: absolute;
    padding: 80px 50px;
    max-width: 400px;
    width: 100%;
    border: 1px solid $color-gold;
    border-radius: 8px;
    z-index: 20;
    h1 {
      color: $color-white;
      font-size: 32px;
      line-height: 28px;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
      span {
        letter-spacing: 5px;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      margin-top: 50px;
      .form-box {
        width: 100%;
        label {
          display: block;
          margin-bottom: 15px;
          color: $color-gold;
          font-size: 16px;;
        }
        input {
          padding: 10px 0;
          width: 100%;
          color: $color-white;
          background-color: transparent;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          outline: none;
        }
        button {
          margin-top: 20px;
          padding: 10px;
          width: 100%;
          border-radius: 8px;
        }
      }
    }
  }
  .admin-content {
    position: absolute;
    z-index: 20;
    p {
      color: $color-grey;
      font-size: 18px;
      text-align: center;
    }
    .title {
      margin-bottom: 20px;
      color: $color-white;
      font-size: 40px;
    }
    .btn-back {
      display: block;
      margin: 40px auto 0;
      width: max-content;
      padding: 15px;
      text-transform: uppercase;
      border-radius: 8px;
    }
  }
}

