@use 'variables';

.pagination-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
  margin-top: 30px;
  .page-btn {
    padding: 0 10px;
    min-width: 30px;
    height: 30px;
    color: variables.$color-gold;
    background: transparent;
    border: 1px solid variables.$color-gold;
    border-radius: 4px;
    cursor: pointer;
    &:hover, &.active {
      color: variables.$color-black;
      background-color: variables.$color-gold;
    }
  }
}