$bg-black: #120f0f;
$color-black: #000000;
$color-black-light: #1d150b;
$color-white: #ffffff;
$color-gold: #c49b63;
$color-gold-dark: #674C2A;
$color-grey: #808080;

.pagination-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
  .page-btn {
    width: 30px;
    height: 30px;
    color: $color-gold;
    background: transparent;
    border: 1px solid $color-gold;
    border-radius: 4px;
    cursor: pointer;
    &:hover, &.active {
      color: $color-black;
      background-color: $color-gold;
    }
  }
}