@use 'variables';

@media only screen and (max-width: 991px) {
  .section-container {
    padding: 50px 20px;
  }
  .footer {
    .footer-container {
      .footer-content { 
        .ft-about, .ft-question {
          width: 50%;
        }
        .ft-blog {
          display: none;
        }
      }
    }
  }
  .about {
    display: block;
    height: auto;
    .about-photo {
      width: 100%;
      height: 400px;
    }
    .about-content {
      width: 100%;
      padding: 20px;
      .box-content {
        position: static;
        left: 0;
        width: 100%;
        .title {
          text-align: center;
        }
      }
    }
  }
  .h-menu {
    .h-menu-container {
      flex-direction: column;
      column-gap: 0;
      .h-menu-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        p {
          text-align: center;
        }
      }
      .h-menu-list {
        margin-top: 50px;
        width: 100%;
        justify-content: center;
        .h-menu-photo {
          width: 150px;
          &:nth-child(even) {
            margin-top: 0;
          }
        }
      }
    }
  }
  .menu {
    padding: 50px 20px;
  }
  .blog {
    .blog-container {
      .blog-list {
        flex-wrap: wrap;
        margin-top: 0;
        &.list-page {
          margin-bottom: 30px;
          .block-item-page {
            margin-top: 50px;
            margin-bottom: 0;
            width: calc(50% - 20px);
          }
        }
        .block-item {
          margin-top: 50px;
          width: calc(50% - 20px);
        }
      }
    }
  }
  .blog-single {
    padding: 50px 20px;
    .blog-single-container {
      .block-single-content {
        width: 100%;
      }
      .block-single-other {
        display: none;
      }
    }
  }
  .cart, .order {
    .cart-table, .order-table {
      tr {
        td {
          .product-total {
            text-align: left;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 767px) {
  .header {
    .header-container {
      .menu-hamburger {
        display: block;
      }
      .nav-menu {
        display: none;
      }
    }
  }
  .footer {
    .footer-container {
      .footer-content { 
        flex-direction: column;
        row-gap: 50px;
        .ft-about, .ft-question {
          width: 100%;
          .ft-title {
            margin-bottom: 20px;
          }
        }
        .ft-about {
          .social-link {
            margin-top: 20px;
          }
        }
        .ft-question {
          .ft-media + .ft-media {
            margin-top: 15px;
          }
        }
      }
      .copy {
        margin-top: 50px;
      }
    }
  }
  .error {
    display: block;
    padding: 20px;
    text-align: center;
    p {
      font-size: variables.$font-16;
    }
    .title {
      font-size: variables.$font-80;
    }
    .sub-title {
      margin-bottom: 20px;
      font-size: variables.$font-30;
    }
    .btn-back {
      display: inline-block;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .slider-container {
    .slider-content {
      padding: 0 20px;
      width: calc(100% - 20px);
      p {
        font-size: variables.$font-16;
      }
      .title {
        margin: 0 0 10px;
        font-size: variables.$font-30;
      }
      .sub-title {
        margin-bottom: 5px;
        font-size: variables.$font-20;
      }
      .slider-button {
        display: none;
      }
    }
    .slider-item {
      height: 500px;
    }
  }
  .about {
    .about-photo {
      height: 300px;
    }
    .about-content {
      .box-content {
        .title {
          font-size: variables.$font-30;
        }
      }
    }
  }
  .h-menu {
    .h-menu-container {
      .h-menu-content {
        .title {
          font-size: variables.$font-30;
        }
      }
      .h-menu-list {
        display: none;
      }
    }
  }
  .menu {
    .menu-container {
      .menu-heading {
        .title {
          font-size: variables.$font-30;
        }
      }
      .menu-list {
        column-gap: 40px;
        margin-top: 30px;
        .menu-block {
          width: calc(50% - 20px);
        }
      }
    }
  }
  .service {
    .service-container {
      flex-direction: column;
      column-gap: 0;
      row-gap: 50px;
      .service-item {
        .service-icon {
          margin-bottom: 20px;
        }
        .title {
          margin: 0 0 10px;
        }
      }
    }
  }
  .blog {
    .blog-container {
      .blog-heading {
        .title {
          font-size: variables.$font-30;
        }
      }
      .blog-list {
        flex-direction: column;
        &.list-page {
          .block-item-page {
            width: 100%;
          }
        }
        .block-item {
          width: 100%;
        }
      }
    }
  }
  .blog-single {
    .blog-single-container {
      .block-single-content {
        .title {
          font-size: variables.$font-28;
        }
      }
    }
  }
  .contact {
    .contact-container {
      flex-direction: column;
      column-gap: 0;
      row-gap: 50px;
      .contact-content {
        width: 100%;
      }
      .contact-form {
        padding-top: 40px;
        width: 100%;
        border-top: 1px solid variables.$color-gold-dark;
      }
    }
  }
  .sign-in {
    display: block;
    padding: 30px 20px;
    background-color: variables.$bg-black;
    background-image: none;
    &.admin {
      background-color: variables.$bg-black;
      background-image: none;
    }
    .sign-in-overlay {
      display: none;
    }
    .sign-in-card {
      position: relative;
      margin: 0 auto;
      padding: 40px 20px;
      h1 {
        font-size: variables.$font-28;
      }
      form {
        row-gap: 20px;
        margin-top: 30px;
      }
    }
    .admin-content {
      position: relative;
      p {
        font-size: variables.$font-16;
      }
      .title {
        font-size: variables.$font-30;
      }
      .avatar {
        margin: 20px auto;
      }
      .btn-back {
        margin: 30px auto 0;
      }
    }
  }
}


@media only screen and (max-width: 480px) {
  .menu {
    .menu-container {
      .menu-category {
        flex-direction: column;
        column-gap: 0;
        row-gap: 20px;
      }
      .menu-list {
        column-gap: 0;
        .menu-block {
          width: 100%;
          .description {
            min-height: auto;
          }
        }
      }
    }
  }
  .cart {
    .cart-button {
      flex-direction: column;
      column-gap: 0;
      row-gap: 20px;
    }
  }
}