@use 'variables';

/* global tag */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: variables.$color-white !important;
}

/* padding */
.pb-30 {
  padding-bottom: 30px !important;
}

/* font size  */
.font-14 {
  font-size: variables.$font-14 !important;
}

/* color */
.validate-error {
  padding: 0 15px;
  color: variables.$color-error;
}

/* button */
.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  color: variables.$color-black;
  background-color: variables.$color-gold;
  border: 1px solid variables.$color-gold;
  &:hover {
    color: variables.$color-gold;
    background-color: transparent;
  }
}
.btn-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  color: variables.$color-white;
  background-color: transparent;
  border: 1px solid variables.$color-white;
  &:hover {
    color: variables.$color-black;
    background-color: variables.$color-gold;
    border: 1px solid variables.$color-gold;
  }
}
.btn-third {
  display: flex;
  align-items: center;
  justify-content: center;
  color: variables.$color-gold;
  background-color: transparent;
  border: 1px solid variables.$color-gold;
  &:hover {
    color: variables.$color-black;
    background-color: variables.$color-gold;
    border: 1px solid variables.$color-gold;
  }
}

/* loading */
.loading-content {
  margin: 0 auto;
  width: 80px;
}
.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 5px solid variables.$color-gold;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

/* animation */
@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} 