/* font size */
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-25: 25px;
$font-28: 28px;
$font-30: 30px;
$font-32: 32px;
$font-40: 40px;
$font-50: 50px;
$font-80: 80px;
$font-100: 100px;

/* color */
$color-black: #000000;
$color-black-light: #1d150b;
$color-white: #ffffff;
$color-yellow: #f8b500;
$color-grey: #808080;
$color-gold: #c49b63;
$color-gold-dark: #674c2a;
$color-error: #f87171;
$color-border: rgba(255, 255, 255, 0.1);

/* background */
$bg-black: #120f0f;
$bg-black-light: rgba(0,0,0,0.9)